@mixin wh($width:100%,$height:100%) {
	width: $width;
	height: $height;
  }

@mixin flexHor($jc:center,$ac:center) {
	display: flex;
	justify-content: $jc;
	align-items: $ac;
}
@mixin flexVer($jc:center,$ac:center) {
	display: flex;
	flex-direction: column;
	justify-content: $jc;
	align-items: $ac;
}

@mixin padding {
	padding-left: .28rem;
	padding-right: .28rem;
}